<h1>Cats!</h1>

<h2>Cats that are not sleepy!</h2>

<ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each ____}}
    {{#if ____}}
      {{> ___/______ = false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Taco</h2>
<form class="create-form">

  <div class="form-group">
    <label for="taco-add">Taco Name:</label>
    <input type="text" id="taco-add" name="name">
  </div>

  <div class="form-group">
    <label for="eaten">Eat it?</label><br>
    <input type="radio" name="Eaten" value="1" checked> Eaten!<br>
    <input type="radio" name="Eaten" value="0"> DEVOURED!!!!
  </div>

  <button type="submit"> TACO TIME </button>
</form>
