<div class="heading">
  <h1>Taco time!!</h1>
</div>

<div class="container">
  <div class="row">
    <div class="offset-3 col-6 addTacoForm">
      <h2 id="tacoForm">Add a Taco</h2>
      <br>
      <form class="create-form">
        <div class="form-group">
          <label for="userTacoName" class="form-label">Taco Name:</label>
          <input type="text" class="form-control" id="userTacoName" name="name" placeholder="Ex: my fav taco">
        </div>

        <button class="btn btn-warning btn-lg btn-block" id="tacoBtn" type="submit">Add Taco</button>
      </form>
    </div>
  </div>
</div>

<br>
<br>

<div class="row lists">
  <div class="col-6">
    <div class="needBelly">
      <h2 id="toBeEaten">EAT A TACO! </h2>
      <ul>
        {{#each tacos}}
        {{#unless devoured}}
        {{> tacos/taco-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="col-6">
    <div class="nommed">
      <h2 id="devoured">Devoured Tacos</h2>
      <ul>
        {{#each tacos}}
        {{#if devoured}}
        {{> tacos/taco-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>