<li>
	{{name}}

	<button class="change-taco" data-id="{{id}}">
		{{#if devoured}}NOMNOM TIME!{{else}}Gone!{{/if}}
	</button>

	<button class="delete-taco" data-id="{{this.id}}">DELETE!</button>
</li>
